body{
    margin:0;
}
.timer-wrap{
    width:100%;
    float:left;
    background-color:#000000;
    padding:20px 0px;
}
.timer-wrap h1{
    text-align: center;
    font:bold 16px calibri;
    padding:5px;
    background-color:rgba(22,11,119);
    color:#fff;
}
.timer-wrap .time{
    display:none;
}
.timer-wrap .timer{
    font:bold 55px 'times new roman';
    color:cyan;
    margin:10px auto 0px;
    text-align: center; 
}
/* .buttons{
    flex-grow: 1;
    margin:5 5px 4px;
    box-shadow:purple , red , yellow;
    border:0;
    outline:0;
    text-align: center;
    padding:5px;
    font-weight: bold;

} */

